.jumbotron {
  color: rgb(62, 62, 204);
  padding: 45px;
  margin: auto;
  background-color: rgb(238, 224, 206);
border-radius: 20px;
text-align: center;
}
.answers {
  display: none;
}
.container{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* #cSharp {
  font-size: larger;
} */